body{
    margin: 0%;
}
.header{
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 120px;
    background: #0047ba;

}
.mainlogo{
    width: 146px;
    padding-top: 39px;
    margin-left: 134px
}
.navi-txt{
    margin-left: 340px;
    margin-top: -22px;
    color: #fff;
    z-index: 2;
    letter-spacing: 1px;
    word-spacing: 5px;
    vertical-align: text-bottom;
    font-size: 16px;
}
.material-symbols-outlined{
    font-size: 16px;
}
.en-share{
    cursor: pointer;
}
.en{
    margin-left: 1033px;
    position: relative;
    bottom: 33px;
}
.t1{
    margin-left: 1073px;
    position: relative;
    color: white;
    font-size: larger;
    bottom: 77px;

}
.share{
    margin-left: 1087px;
    position: relative;
    bottom: 115px;
}
.imgbaground{
    width: 100%;
    height: 830px;
}
.bottle{
    width: 631px;
    position: absolute;
    top: 200px;
    height: 633px;
    margin-bottom: 166px;
}
.img1{
    margin-top: 119px;
    width: 100%;
    height: 711px;
    
}
.logoimg{
    width: 546px;
    float: left;
    height: 262px;
    
    margin-left: 635px;
    position: relative;
    bottom: 560px;
    z-index: 1
}
.button{
    width: 526px;
    height: 64px;
    margin-top: -374px;
    margin-left: 691px;
    letter-spacing: 2px;
    z-index: 99;
    position: relative;

}
button{
    margin-left: 21px;
    color: #0047ba;
    border-color: #0047ba;
    background: none;
    
    border-radius: 5px;
    cursor: pointer;
    padding: 16px 42px;
}
.footer{
    
    width: 100%;
    height: 253px;
    padding-top: 50px;
}
.footercontainer{
    width: 1024px;
    height: 173px;
    margin: auto;
    padding: 0px 20px;
    
}
.row{
    height: 173px;
    display: flex;
    
}
ul{
    list-style: none;
}
.foter-col{
    line-height: 27px;
    width: 16%;
    
    padding: 0px 15px;

}
.foter-col a{
    text-decoration: none;
    color: #0047ba;
}
.social{
    
    width: 103px;
    height: 30px;
    margin-top: -166px;
    margin-left: 935px;
    cursor: pointer;
}
.footerlogo{
    margin-left: 894px;
    margin-top: 61px;
}
.terms{
    
color: #0047ba;
text-align: center;
font-size: 11px;
padding-top: 28px;
padding-bottom: 20px;
line-height: 1.5;
padding-left: 30px;
padding-right: 30px;
}